<svg #svgref viewBox="0 0 1280 720" xmlns="http://www.w3.org/2000/svg">
    <defs #spritedef>
      <!--add image-->
      <image id="basket" href="https://res.cloudinary.com/dbsatj5xc/image/upload/v1666805539/Basket_mcgxw6.svg" height="100"/>
      <image id="redBalloon" href="https://res.cloudinary.com/dbsatj5xc/image/upload/v1666805549/red_balloon_zclcsz.svg" width="50" height="50"/>
      <image id="sandBag" href="https://res.cloudinary.com/dbsatj5xc/image/upload/v1666805554/SandBag_wqpqdx.svg" width="50" height="50"/>
      <image id="ruler" href="https://res.cloudinary.com/dbsatj5xc/image/upload/v1666887324/ruler_rvsnrf.svg" height="720"/>
      <image id="cloud" href="https://res.cloudinary.com/dbsatj5xc/image/upload/v1666887224/Cloud_qo9qcs.svg"/>
      <image id="bush" href="https://res.cloudinary.com/dbsatj5xc/image/upload/v1666887339/Grass_d1fwir.svg"/>
      <image id="spring" href="https://res.cloudinary.com/dbsatj5xc/image/upload/v1667921393/spring_oo5msr.svg" height="90"/>
      <circle id="dirtCircle" r="5"/>




    </defs>
    <rect id="background" width="100%" height="100%"/>
    <rect class="grass" id="grassLeft" height="10"/>
    <rect class="grass" id="grassRight" height="10"/>

    <rect id="dirtLayer1" width="1280" height="25%"/>
    <rect id="dirtLayer2" width="100%" height="25%"/>

    
    <rect id="holeLayer1" width="100%" height="25%" rx="5"/>
    <rect id="holeLayer2" width="100%" height="25%" rx="5"/>
  
  </svg>


<div class="buttonContainer">
  <button (click)="addBalloon()"><img src="https://res.cloudinary.com/dbsatj5xc/image/upload/v1666805549/red_balloon_zclcsz.svg"/></button>
  <button (click)="addSandBag()"><img src="https://res.cloudinary.com/dbsatj5xc/image/upload/v1666805554/SandBag_wqpqdx.svg"/></button>
  <button (click)="toggleRecording()">
    <img *ngIf="!isRecording" src="https://www.pngmart.com/files/3/Play-Button-PNG-Pic.png"/>
    <img *ngIf="isRecording" src="https://icons.iconarchive.com/icons/graphicloads/colorful-long-shadow/256/Button-2-pause-icon.png"/>
  </button>
  <p *ngIf="isRecording">{{output}}</p>
</div>


  
  

  