<!--The viewbox sets the view of the svg, but also repersents the width and height of the 
    svg - x, y width, height => therefore, the placing objects at (x=700, y=200)
    indicates that the element will be at the bottom right corner 

    - therefore, in code, the position of our elements have to be relative to
      these values
-->
<svg #scene viewBox="0 0 700 200" width="100%" height="100%">
</svg>


<form (ngSubmit)="onBarSubmit()">
    <label>Bar-Width: {{barValue}}</label>
    <mat-slider min="1" max="{{graphWidth}}" step="1" value="barValue" name="barValue" [(ngModel)]="barValue"></mat-slider>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>x position:</mat-label>
        <input matInput type="number" name="x" [(ngModel)]="x"/>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>y position:</mat-label>
        <input matInput type="number" name="y" [(ngModel)]="y"/>
    </mat-form-field>

    <button mat-raised-button  type="submit" color="primary">Add Bar</button>
</form>

